extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Tyler McDonald
        p Full Stack Software Developer

        .about-bio
          p I'm a former accounting professional pursuing a career in software development. During my time as an accountant, I found myself constantly looking to leverage technology to automate tasks for myself, my teammates, and the company I worked for. Eventually I understood that my true passion is in technology. I plan to make a career out of building software to improve the lives of those around me and around the world.
          p I recently transitioned out of my last role to pursue software development full time. I completed a full stack JavaScript bootcamp and I am now looking for my first professional role as a software developer/engineer.
          p Although I'm relatively new to software development, I believe I can support any dev team because of my drive for excellence, attention to detail, and eagerness to learn and train.

      .skills-contact-box.box
        h6 Skills

        ul
          li JavaScript
          li Node.js
          li React 
          li Express
          li REST APIs
          li HTML
          li CSS
          li Git & Github

        h6 Links

        a.btn-link(href='https://www.linkedin.com/in/tyler-mcdonald-7ab045232/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/tyler-mcdonald' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back