extends layout.pug

block content

  article.portfolio-intro
    h1 Project Portfolio
    p These are the projects I've developed during my software development journey

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
            a(href=`/projects/${project.id}`)
              img.thumbnail(src=`${project.image_urls.thumbnail}`, alt=`${project.project_name}`)
              h5= project.project_name