<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Tyler McDonald
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    script(src="https://kit.fontawesome.com/4971fd3e37.js" crossorigin="anonymous")

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          a(href="/about")
            img.thumbnail(src='/static/images/profile.jpg', alt='tyler mcdonald')
        .dev-intro-box

          h5 Tyler McDonald

          p Hi, I'm Tyler. I'm pursuing a career as a full stack software developer. After several years in accounting, I learned that my passion is in using technology to help individuals and businesses solve problems in their jobs and lives. 
          


          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Tyler McDonald

      block content

  script(src='/static/js/script.js')